body {
    background-color: #505050;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}

form {
	margin-bottom: 0px;
}

label {
	display: inline;
}

#container {
    margin: 0 auto;
    padding: 0 20px 10px 20px;
    border: 1px solid #666666;
    width: 865px; /* subtract 40px from banner width for padding */
    background: #FFFFFF url(#{request.contextPath}/resources/gfx/banner.png) no-repeat;
    padding-top: 110px;
}

#sidebar {
    font-size: 0.9em;
    width: 225px;
    float: right;
    border: 1px solid #666666;
    background: #EAECEE;
    padding: 0 15px 5px 15px;
}

#sidebar ul {
    padding-left: 30px;
}

#footer {
    clear: both;
    text-align: center;
    color: #666666;
    font-size: 0.85em;
}

code {
    font-size: 1.1em;
}

span.invalid {
    padding-left: 3px;
    color: red;
}



.reponse {
    font-size: 0.85em;
    font-style: italic;
}

.verticalTop {
    vertical-align: top;
}

.verticalBottom {
    vertical-align: bottom;
}

.avatar {
	vertical-align: top;
	width: 70px;
	text-align: center;
}

.retweet {
    background-image: url(#{resource[ 'gfx:retweet.png' ]}) !important;
}

.title {
	text-align: center;
	margin-top: 10px;
}

.title h1 {
	color: #999999;
	font-size: 60px;
	letter-spacing: -1px;
	line-height: 65px;
	text-shadow: 0px 3px 8px #2A2A2A;
}

.title h6 {
	font-size: 16px;
	line-height: 30px;
}

ul.social-services li {
	float: left;
	margin-right: 10px;
}

ul.social-services li:last-child {
	margin-right: 0px;
}

.well h6 {
	margin-bottom: 5px;
}

.tweet-area {
	width: 98%;
	height: 56px;
	overflow: hidden;
}

.rounded-5, .rounded-5 .ui-widget-content {
	border-radius: 5px; 
}

.timeline-content .status {
	padding: 10px;
	border-bottom: 1px solid #DDDDDD;
}

.timeline-content .status:last-child {
	border-bottom: 0px;
}

.tweet .author {
	margin-right: 10px;
}

.tweet .author:hover {
	text-decoration: none;
}

.tweet .author:hover .label {
	background-color: #B94A48;
}

.tweet .tweetInfo {
    font-style: italic;
    color:#999999;
}

.status .actions {
	margin-top: 10px;
}

@media (max-width: 767px) {
	.tweet-area {
		height: 77px;
	}
}